<div class="container mt-4 my-5" *ngIf="evento">
  <div class="card shadow-lg border-0">
    <div class="row g-0">
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-light p-3"
      >
        <img
          *ngIf="evento.file?.file_path"
          [src]="'http://127.0.0.1:8000/storage/' + evento.file?.file_path"
          class="img-fluid rounded img-thumbnail shadow"
          alt="Imagen del evento"
          style="max-height: 280px; object-fit: cover"
        />
        <p *ngIf="!evento.file?.file_path" class="text-muted">
          Sin imagen disponible
        </p>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title text-primary fw-bold">{{ evento.nombre }}</h1>
          <p class="card-text">
            <strong>Descripción:</strong> {{ evento.descripcion }}
          </p>
          <p class="card-text">
            <strong>Fecha:</strong> {{ evento.fecha_evento }}
          </p>
          <p class="card-text">
            <strong>Ubicación:</strong> {{ evento.ubicacion }}
          </p>
          <p class="card-text">
            <strong>Precio:</strong>
            <span *ngIf="evento.precio === 0; else precioNumerico">GRATIS</span>
            <ng-template #precioNumerico>
              {{ evento.precio !== null ? evento.precio + " €" : "Gratuito" }}
            </ng-template>
          </p>
          <p class="card-text">
            <strong>Premios:</strong> {{ evento.premios || "No hay premios" }}
          </p>
          <p class="card-text">
            <strong>Inscripción Abierta:</strong>
            {{ evento.inscripcion_abierta ? "Sí" : "No" }}
          </p>
          <p class="card-text">
            <strong>Categoría ID:</strong> {{ evento.categoria_id }}
          </p>
          <p class="card-text">
            <strong>Usuario ID:</strong> {{ evento.user_id }}
          </p>
          <p class="card-text"><strong>ID:</strong> {{ evento.id }}</p>

          <div class="mt-3">
            <ng-container *ngIf="isSignedIn">
              <ng-container
                *ngIf="esPropietario(evento.user_id) || usuario.role_id == 1"
              >
                <button
                  class="btn btn-danger btn-sm me-2"
                  (click)="eliminarEvento(evento.id)"
                >
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>