<div
  class="container d-flex justify-content-center align-items-center"
  style="margin-top: 1%; margin-bottom: 1%"
>
  <form
    class="card p-4 shadow rounded-0"
    style="background-color: #f8f9fa; width: 400px;"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
  >
    <h3 class="text-center mb-5">Editar Usuario</h3>

    <div *ngIf="errors" class="alert alert-danger rounded-0 mb-3">
      <ul>
        <li *ngFor="let error of errors | keyvalue">
          <strong>{{ error.key }}:</strong> {{ error.value }}
        </li>
      </ul>
    </div>

    <div class="mb-5">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control rounded-0"
        id="name"
        formControlName="name"
      />
      <div
        *ngIf="
          userForm.get('name')?.invalid &&
          (userForm.get('name')?.dirty || userForm.get('name')?.touched)
        "
        class="text-danger"
      >
        El nombre es obligatorio.
      </div>
    </div>

    <div class="mb-5">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control rounded-0"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="
          userForm.get('email')?.invalid &&
          (userForm.get('email')?.dirty || userForm.get('email')?.touched)
        "
        class="text-danger"
      >
        El email es obligatorio y debe ser válido.
      </div>
    </div>
    <hr>
    <div class="d-grid">
      <button
        type="submit"
        class="btn btn-primary rounded-0"
        [disabled]="userForm.invalid"
      >
        Guardar Cambios
      </button>
    </div>
  </form>
</div>