<div class="container d-flex justify-content-center align-items-center" style="margin-top: 3%; margin-bottom: 3%">
  <div class="row">
      <div class="card p-4 shadow rounded-0" style="background-color: #d9d9d9; width: 400px;">
        <h3 class="text-center mb-4">Registrar Usuario</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div *ngIf="errors?.name" class="alert alert-danger rounded-0">{{ errors?.name }}</div>
          <div *ngIf="errors?.email" class="alert alert-danger rounded-0">{{ errors?.email }}</div>
          <div *ngIf="errors?.password" class="alert alert-danger rounded-0">{{ errors?.password }}</div>
          <div *ngIf="errors?.password_confirmation" class="alert alert-danger rounded-0">{{ errors?.password_confirmation }}</div>

          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control rounded-0" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control rounded-0" id="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control rounded-0" id="password" formControlName="password">
          </div>
          <div class="mb-3">
            <label for="password_confirmation" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control rounded-0" id="password_confirmation" formControlName="password_confirmation">
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary rounded-0 register-button text-dark">Registrar Usuario</button>
          </div>
        </form>
      </div>
  </div>
</div>